.footer {
  position: relative;
  padding: 30px 50px 0;
}

.footer nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer nav ul li {
  display: inline;
}

.footer nav ul li p {
  margin: 0;
}

.footer .container-fluid {
  position: relative;
}

.footer .micromedicioniot {
  position: absolute;
  bottom: 0;
  left: 30px; /* Ajusta el valor según sea necesario */
}

.footer .copyright {
  position: absolute;
  bottom: 0;
  right: 30px; /* Ajusta el valor según sea necesario */
}
