.footer-blanco {
    padding: 30px 50px 0;
  }
  
  .footer-blanco.footer-default {
    background-color: #f2f2f2;
  }
  
  .footer-blanco nav {
    display: inline-block;
    float: left;
    padding-left: 7px;
  }
  
  .footer-blanco ul {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
  }
  
  .footer-blanco ul li {
    display: inline-block;
  }
  
  .footer-blanco ul li a {
    color: inherit;
    padding: 0.5rem;
    font-size: 0.8571em;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .footer-blanco ul li a:hover {
    text-decoration: none;
  }
  
  .footer-blanco.fixed-bottom {
    width: calc(100% - 80px);
    margin-left: auto;
  }
  
  .footer .copyright {
    font-size: 0.8571em;
    line-height: 1.8;
    text-align: right;
  }
  
  .footer:after {
    display: table;
    clear: both;
    content: " ";
  }

